body {
    text-align: center;
    background: #222;
    color: white;
    font-family: Arial;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    justify-content: center;
    margin: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background: #444;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.restart-btn {
    padding: 10px 20px;
    background: #ff9800;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #00ff88;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
