body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1e1e2f;
    color: white;
}

nav {
    background: #111;
    padding: 15px;
    text-align: center;
}

nav h2 {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 80px;
}

.btn {
    background: #00ff88;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.games {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.card {
    background: #2c2c3c;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 80px;
    opacity: 0.7;
}
