body {
    background: black;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    background: #111;
    border: 2px solid white;
}

.back-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #00ff88;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
